/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  color: white;
  padding-top: 3.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(82, 67, 162, 0.736);
}

#moo {
  width:2em;
  vertical-align: -50%;
}

.jumbotron {
padding-bottom:1em;
}

a {
color:rgb(215, 195, 195)
}

a:hover {
  color:rgb(232, 166, 166)
  }

  .jumbotron {
    background-color: rgba(93, 128, 171, 0.736);
  }