/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  color: white;
  padding-top: 2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(82, 67, 162, 0.736);
}

#moo {
  width:2em;
  vertical-align: -50%;
}

#pageMsg {
  vertical-align: -10%;
}

.jumbotron {
padding-bottom:1em;
}

a {
color:rgb(215, 195, 195)
}

a:hover {
  color:rgb(232, 166, 166)
  }

  .jumbotron {
    background-color: rgba(93, 128, 171, 0.736);
  }

  img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }